_*
*.swp
Makefile
*.log
*.cache
*.status
*.o
*.la
*.lo
*~
\#*\#
stamp-h1
.deps
config.h
resources.c
livrenfe
Makefile.in
configure
depcomp
install-sh
missing
aclocal.m4
Makefile.in
compile
libtool
config.guess
config.sub
ltmain.sh
.libs
*.stamp
m4
config.lt
config.h.in
gtk-doc.make
docs/reference/libnfe/html
docs/reference/libnfe/xml
*-decl-list.txt
*-decl.txt
*-overrides.txt
*-undeclared.txt
*-undocumented.txt
*-unused.txt
*.args
*.hierarchy
*.interfaces
*.prerequisites
*.signals
